a {
    color: steelblue;
}

a.active {
    background: steelblue;
    color: white;
}

main {
    padding: 20px;
}

section.chat {
    position: absolute;
    z-index: 1000;
    right: 0; top: 0; bottom: 0;
    width: 200px;
    
    chat {
        position: absolute;
        right: 0; top: 0; bottom: 0; left: 0;
    }
}
